.react-grid-layout {
  position: relative;
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top, width, height;
}

.react-grid-item.cssTransforms {
  transition-property: transform, width, height;
}

.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
  opacity: 0.5;
  transition: opacity 200ms ease;
}

.react-grid-item:hover > .react-resizable-handle {
  opacity: 1;
}

.react-grid-item.react-grid-placeholder {
  background: #60a5fa;
  opacity: 0.2;
  border-radius: 0.75rem;
  transition-duration: 100ms;
}

.react-grid-item.resizing {
  opacity: 0.9;
  z-index: 1;
}

.react-grid-item.react-draggable-dragging {
  opacity: 0.9;
  z-index: 3;
  transform: scale(1.02) !important;
}

/* Chart wrapper to make Recharts responsive */
.chart-wrapper {
  width: 100%;
  height: 100%;
  min-height: 0; /* VERY IMPORTANT */
  display: flex;
  flex-direction: column;
}
